cygwin/home/*
cygwin/install/
cygwin/log/
cygwin/tmp/*
export_installer/
log/
package/symlink_file
*/tftpd32/tftproot/*
*/filezilla/ftp_root/*
cygwin/opt/bin/edb
cygwin/opt/bin/gdb
wind/
cygwin/var/run/*
cygwin/var/tmp/*
cygwin/var/lib/tftpboot/
